@use '../custom' as *;
@use '../components/mixins' as *;

.feature-section {

    margin-top: 450px;

    @include media-breakpoint-up(lg) {

        padding-top: 90px;
        margin-top: 406px;
    }

    .feature-image {

        background-image: url(../../assets/images/blue_ellipse.svg);
        background-repeat: no-repeat;
        background-size: 90%;
        background-position: center bottom 54px;

        img {

            width: 250px;

            @include media-breakpoint-up(md) {

                width: 300px;
            }
            
        }
    }

    .feature-heading {

        margin-bottom: 35px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
}