@use '../custom' as *;

.menu {

    .navbar-brand {
        font-family: $brand-font-family;
        font-weight: $brand-font-weight;
        line-height: $brand-line-height;
        color: $gray-100;
        margin-right: 66px;
        font-size: 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1.375rem;
        }
    }

    .navbar-nav {

        margin-left: auto; 
        justify-content: space-between;

        .nav-link {
            color: $gray-100;
        }
    }
}