@use '../custom' as *;
@use '../components/mixins' as *;

$button-padding-vertical: 11px;
$button-padding-horizontal: 19px;

.btn-arrow {

    &::before {
        content: url(../../assets/images/white_arrow.svg);
        margin-right: 10px;
        vertical-align: middle;
    }

    background-color: $gray-900;
    @include buttonShadow;
    @include buttonFont;
    color: $white; 
    padding: $button-padding-vertical $button-padding-horizontal;

    &:hover {
        color: $white;
    }
}
